@font-face {
    font-family: 'SF Pro Display';
    src: url('./assets/fonts/SF-Pro-Display/SF-Pro-Display-Regular.otf') format('otf');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'SF Pro Display';
    src: url('./assets/fonts/SF-Pro-Display/SF-Pro-Display-Medium.otf') format('OTF');
    font-weight: 700;
    font-style: medium;
  }
  
  @font-face {
    font-family: 'SF Pro Display';
    src: url('./assets/fonts/SF-Pro-Display/SF-Pro-Display-Bold.otf') format('OTF');
    font-weight: Bold;
    font-style: bold;
  }
  
